body
{
   background-color: bisque; 
   font-family: cursive;
   font-style: italic;
   font-weight: 600;
}

h2
{
    font-family: cursive;
    font-style: italic;
    font-weight: 600;
}

h3
{
    font-family: cursive;
    font-style: italic;
    font-weight: 600;
}

h4
{
    font-family: cursive;
    font-style: italic;
    font-weight: 600;
}